/Cities_Prelim2018.csv
/Events_Prelim2018.csv
/GameCities_Prelim2018.csv
/MasseyOrdinals_Prelim2018.csv
/Players_Prelim2018.csv
/RegularSeasonCompactResults_Prelim2018.csv
/RegularSeasonDetailedResults_Prelim2018.csv
/TeamCoaches_Prelim2018.csv