/WSampleSubmissionStage2.csv
/WCities.csv
/WGameCities.csv
/WNCAATourneyCompactResults.csv
/WNCAATourneyDetailedResults.csv
/WNCAATourneySeeds.csv
/WNCAATourneySlots.csv
/WRegularSeasonCompactResults.csv
/WRegularSeasonDetailedResults.csv
/WSeasons.csv
/WTeams.csv
/WTeamSpellings.csv