/Cities.csv
/Conferences.csv
/ConferenceTourneyGames.csv
/GameCities.csv
/NCAATourneyCompactResults.csv
/NCAATourneyDetailedResults.csv
/NCAATourneySeedRoundSlots.csv
/NCAATourneySeeds.csv
/NCAATourneySlots.csv
/RegularSeasonCompactResults.csv
/RegularSeasonDetailedResults.csv
/Seasons.csv
/SecondaryTourneyCompactResults.csv
/SecondaryTourneyTeams.csv
/TeamCoaches.csv
/TeamConferences.csv
/TeamSpellings.csv
/Teams.csv