/Events_2010.csv
/Players_2010.csv
/Events_2011.csv
/Players_2011.csv
/Events_2012.csv
/Players_2012.csv
/Events_2013.csv
/Players_2013.csv
/Events_2014.csv
/Players_2014.csv
/Events_2015.csv
/Players_2015.csv
/Events_2016.csv
/Players_2016.csv
/Events_2017.csv
/Players_2017.csv
/Events_2018.csv
/Players_2018.csv