/pointdist09.csv
/pointdist08.csv
/pointdist18.csv
/pointdist03.csv
/pointdist17.csv
/pointdist16.csv
/pointdist14.csv
/pointdist15.csv
/pointdist11.csv
/pointdist05.csv
/pointdist04.csv
/pointdist10.csv
/pointdist06.csv
/pointdist12.csv
/pointdist13.csv
/pointdist07.csv